<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org"
      th:replace="~{layout/template::layout(~{::title},~{::body/content()})}"
>
<head>
    <meta charset="UTF-8">
    <title>新規Post</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<h1>新規Post</h1>
<form action="#" th:action="@{/posts}" th:object="${post}" method="post">
  <table class="table">
    <tr>
      <th>Title</th>
      <td>
        <input type="text" th:field="*{title}">
      </td>
    </tr>
    <tr>
      <th>Body</th>
      <td>
        <input type="text" th:field="*{body}">
      </td>
    </tr>
  </table>
  <input type="submit" value="Submit">
  <input type="reset" value="Reset">
</form>
<a href="/" class="btn btn-primary">トップページ</a>
<a href="/posts/" class="btn btn-primary">Posts一覧</a>
</body>
</html>
