<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org">

<body>
  <div th:fragment="header" th:remove="tag">
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:brown">
        <div class="container-fluid">
          <a href="/" class="navbar-brand">WebApp</a>
          <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
              <li class="navbar-item">
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <div sec:authorize="isAuthenticated()">
                  Logged user: <span sec:authentication="name">名前</span>
                </div>
                <div sec:authorize="isAnonymous()">
                  <a href="/login" class="nav-link">ログイン</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</body>

</html>