<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org"
      xmlns:sec="http://www.thymeaf.org/extras/spring-security"
      th:fragment="layout(title,body)"
>
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Sample Web App</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
  <div id="header" th:replace="~{layout/header::header}"></div>
  <div id="body" th:replace="${body}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
