<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org"
      th:replace="~{layout/template::layout(~{::title},~{::body/content()})}"
>
<head>
  <title>Sample Web App ログインページ</title>
</head>
<body>
<div class="container">
  <form th:action="@{/login}" class="form-signin" method="post">
    <h2>ログイン</h2>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        ログインに失敗しました
        <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
            <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></span>
        </div>
    </div>
    <div th:if="${param.logout}" class="alert alert-success" role="alert">
      ログアウトしました
    </div>
    <p>
      <input type="text" id="username" name="username" class="form-control" placeholder="ユーザID" required autofocus>
    </p>
    <p>
      <input type="password" class="form-control" id="password" name="password" placeholder="パスワード" required>
    </p>
    <button class="btn btn-primary" type="submit">ログイン</button>
  </form>
</div>
</body>
</html>
