<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org"
      th:replace="~{layout/template::layout(~{::title},~{::body/content()})}"
>
<head>
  <title>Sample Web App ログインページ</title>
</head>
<body>
<div class="container">
  <form th:action="@{/login}" class="form-signin" method="post">
    <div class="alert alert-danger" th:if="${showErrorMsg}" role="alert" th:text="${errorMsg}">
      エラーメッセージ
    </div>
    <div class="alert alert-success" th:if="${showLogoutedMsg}" role="alert">
      ログアウトしました
    </div>
    <p>
      <input type="text" id="username" name="username" class="form-control" placeholder="ユーザID" required autofocus>
    </p>
    <p>
      <input type="password" class="form-control" id="password" name="password" placeholder="パスワード" required>
    </p>
    <button class="btn btn-primary" type="submit">ログイン</button>
  </form>
</div>
</body>
</html>
